body {
	background: #000000;
}

#grid {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr 0.5fr 0.5fr;
	grid-template-areas:
		"graph parameters"
		"graph ."
		"console console";
}

#graph {
	width: 100%;
	height: 100%;
	grid-area: graph;
}

#parameters {
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	grid-area: parameters;
}

#parameters input {
	width: 50px;
}

#parameters select {
	width: 100px;
}

#console {
	width: 100%;
	height: 100%;
	padding: 5px;
	border: 1px solid #00FF00;
	color: #00FF00;
	background-color: #000000;
	grid-area: console;
}
