html {
    overflow-y:scroll;
}
body {
	font: 14px "Helvetica neue", Helvetica, Arial, sans-serif;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
}

#searchbox {
	background-color: #00b300;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	border: 1px solid black;
	border-radius: 0px 0px 5px 5px;
  z-index: 999;
}

.separator {
  border-left: 2px solid black;
  margin-left: 5px;
  margin-right: 10px;
}

#output {
	position: relative;
	top: 30px;
	width: 75%;
  min-width: 550px;
  max-width: 800px;
	text-align: center;
}

.upgrade {
  opacity: 0.95;
	background-color: #b3b3b3;
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	margin: 5px auto;
}

.upgShadow {
  -webkit-box-shadow: 3px 3px 2px 0px rgba(100,100,100,0.90);
  -moz-box-shadow: 3px 3px 2px 0px rgba(100,100,100,0.90);
  box-shadow: 3px 3px 2px 0px rgba(100,100,100,0.90);
}

.upgradeHead {
	padding-bottom: 5px;
  font-weight: bold;
}

.arrowL {
  display: block;
  float: left;
}

.arrowR {
  display: block;
  float: right;
}

.upgradeText {
	display: none;
}
